.footer{
    margin: 4rem 1rem ;
}
.footer_wraper{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.footer_box{
    min-width:275px ;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 1rem;
    //border:1px solid ;
    padding: 2rem 4rem;
    box-shadow: 0 0 21px -5px rgba(0,0,0,0.3);
    .icon{
        padding: 6px;
        
    }
    .title{
        font-size: 1.2rem;
        font-weight: 500;
    }
}