.profail {
  height: 80vh;
  margin: 4rem 2rem;
}
.profail_wrraper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6rem;
}
.profail_info{
    
    width: 35%;
    
    box-shadow: 0 0 21px -5px rgba(0,0,0,0.3);

}
.profail_info-person{
    
    padding: 3rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items:center;
    img{
        margin-bottom:7rem;
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }
    .person-desc{
        text-transform: capitalize;
        h4{
            font-size: 1.3rem;
            margin-bottom: 10px;
        }
        .data{
            font-weight: 300;
            
        }
    }
}
.profail_button{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    button{
        text-align: start;
        width: 100%;
        font-size: 1rem;
        text-transform: uppercase;
        padding: .8rem ;
        cursor: pointer;
        background-color:transparent;
        box-shadow: 0 0 21px -5px rgba(0,0,0,0.3);
        transition:all .3s ease ;
        &:hover{
            background-color: rgb(175, 245, 175);
        }
        
    }
    .btn-order{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .order-num{
            border-radius: 50%;
            background-color: red;
            width: 20px;
            height: 20px;
            text-align: center;
            color: white;

        }
    }
}


.profail_tabls{
    width: 60%;
    background-color: aqua;
    height: 10px;
}