.store {
  margin: 2rem 4rem;
  padding: 0 1rem;
}

.store_wrrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.category {
  position: fixed;
  span {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  width: 10%;
  ul {
    text-align: start;
    margin-top: 1rem;
    li {
      padding: 0.5rem 0;
      margin: 0.5rem 0;
      cursor: pointer;
      transition: all 0.3s ease;
      text-transform: capitalize;
      &:hover {
        border-bottom: 1px solid #000;
        scale: 1.1;
        font-weight: 500;
      }
    }
    .active {
      border-bottom: 1px solid #000;
      scale: 1.1;
      font-weight: 500;
    }
  }
}
.products {
  width: 80%;
  margin-left: 20%;
  .products_wrapper{
    display: flex;
    justify-content: start;
    align-items:center;
    flex-wrap: wrap;
    gap: 2rem;
    .product{
      
      width: 23%;
      img{
        display: block;
        max-width: 100%;
        height: auto;
      }
      .product_desc{
        //background-color:aqua ;
        font-size: 1.1rem;
        margin: 1rem 0 ;
        padding: .5rem;
        text-transform: capitalize;
        color: #000;
        p{
          margin-bottom: .5rem;
        }

      }
    }

  }
}
